*{
    border-radius: 2px;
    
}

.body{
    width: 95%;
    margin: auto;
    background-color: rgb(238, 241, 241);
    padding: 0px 10px;
}
header{
    text-align: center;
    padding: 4% 0px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    overflow: hidden;
}
.navigation{
display: flex;  
flex-basis: 30%;  
justify-content: space-between;
align-self: center;
margin-left: 2%;
text-transform: capitalize;
font-size: 1.5em;

}
a{
    color: black;
    text-decoration: none;
}
.row1, .inner-row{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.column1{
    flex-basis: 65%;
    
}
.column2{
    flex-basis: 30%;
}
.block{
    width: 98%;
    box-shadow: 0px 0px 10px gray;
    padding: 2%;

}
.b-list{
    display: flex;
    
}
.tags{
    color: white;
    background-color: gray;
    margin: 5px 1px;
    padding: 1px;
    margin-bottom: 5px;
}
footer{
    width: 100%;
    padding: 5% 0;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4);
    margin-top: 5px;
}